<html>
<head>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script type=text/javascript >
  
    $(function(){
     $('#right').click(function(){
 	 
 	
 	 
	  $.get("/right",function(data){
	 	console.log(data);
	 });

});
     $('#left').click(function(){
 	 
 	
 	 
	  $.get("/left",function(data){
	 	console.log(data);
	 });
});
     $('#down').click(function(){
 	 
 	
 	 
	  $.get("/down",function(data){
	 	console.log(data);
	 });
	
});
     $('#up').click(function(){
 	
 	
 	 
	  $.get("/up",function(data){
	 	console.log(data);
	 });
	
});
     $('#left90').click(function(){
 	
 	
 	 
	  $.get("/left90",function(data){
	 	console.log(data);
	 });
	
});
     $('#left45').click(function(){
 	
 	
 	 
	  $.get("/left45",function(data){
	 	console.log(data);
	 });
	
});
     $('#right90').click(function(){
 	
 	
 	 
	  $.get("/right90",function(data){
	 	console.log(data);
	 });
	
});
     $('#right45').click(function(){
 	
 	
 	 
	  $.get("/right45",function(data){
	 	console.log(data);
	 });
	
});
     $('#reference').click(function(){
 	
 	
 	 
	  $.get("/reference",function(data){
	 	console.log(data);
	 });
	
});

});

</script>
<style>
.jumbotron{
background-color:#00ccff;
color:#ffffff;

}
  </style>  
     </head>
<body>
<div class="jumbotron">
<h1>Internet Controlled Car<h1>
<h3>Where car is a click away.</h3>
</div>
<div class="row">
<div class="col-sm-8">
<iframe src="http://192.168.0.103:5000" width=100% height="480"></iframe>
</div>
<div class="col-sm-4">	
<div class="btn-group">
<button id="left" type="button" class="btn btn-info btn-lg">Right </button>
<button id="right" type="button" class="btn btn-info btn-lg">Left </button>
<button id="up" type="button" class="btn btn-info btn-lg">Forward </button>
<button id="down" type="button" class="btn btn-info btn-lg">Backward </button>
</div>
</br>
</br>
<div class="btn-group">
<button id="left90" type="button" class="btn btn-info btn-lg">-90 </button>
<button id="left45" type="button" class="btn btn-info btn-lg">-45 </button>
<button id="reference" type="button" class="btn btn-info btn-lg">0 </button>
<button id="right45" type="button" class="btn btn-info btn-lg">45 </button>
<button id="right90" type="button" class="btn btn-info btn-lg">90 </button>

</div>

</body>

</html>